llama-index-llms-huggingface-api==0.6.0
llama-index==0.13.6
llama-index-callbacks-arize-phoenix==0.6.0
arize-phoenix==11.32.1
llama-index-vector-stores-chroma==0.5.2
llama-index-embeddings-huggingface==0.6.0
llama-index-tools-google==0.6.1
langgraph==0.6.7
langchain-openai==0.3.33
langchain-huggingface==0.3.1
langfuse==3.6.1
langchain==0.3.27
langchain-ollama==0.3.10
mcp==1.21.2
huggingface_hub[mcp]>=0.32.0